<div id=searchbar>
    <div>
    <label style="padding-right: 10px">Search for course:</label><input type="text" ng-model=searchString placeholder="enter coursename here" size="40"/><br><br>
    <button class="genbtn" ng-click="searchForCourse()">Search</button>
    </div>
</div>
<div id="searchresults">
        <div class=searchresult ng-repeat="n in courses track by $index">
            <h3>{{ n.nimi }}</h3><br>
            <div><label>Par:</label>{{n.par}} || <label>Väyliä:</label> {{n.vayla_lkm}}</div>  
        </div>
</div>